* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;
}

.top-bg {
    background-color: #009688;
    height: 15vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-bg {
    background-color: #DCDBD2;
    height: 85vh;
    position: fixed;
    top: 15vh;
    right: 0;
    left: 0;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid, .fa-regular {
    font-size: 1.5rem;
}


/* CONTAINER BOOLZAPP */

.container-boolzapp {
    margin-top: 2rem;
    height: 95vh;
    width: 80vw;
    z-index: 12;
    position: relative;
}


/* CONTAINER LEFT */

.container-left {
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 3px solid #3EBDFF;
}

/* user-profile */

.user-profile {
    background-color: #EAEAEA;
    height: 7%;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.u-p-icons {
    gap: 1rem;
}

.u-p-icons i {
    color: #B1B1B1;
}

.img-round {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* notice */

.notice {
    background-color: #8EDAFC;
    height: 10%;
    display: flex;
    align-items: center;
    padding: .5rem;
}

.fa-bell-slash {
    background-color: white;
    color: #8EDAFC;
    
}

.notice-active {
    color: grey;
    text-decoration: underline;
}

/* search-profile */

.search-profile {
    background-color: #fafafa;
    height: 5%;
    padding: 10px;
}

.input-search {
    background-color: white;
    display: flex;
}

.magnifying {
    border-right: 1px solid #fafafa;   
    padding: 0 15px;
}

.magnifying .fa-magnifying-glass{
    font-size: 1rem;
    padding: 3px;
}

.container-input, .search {
    width: 100%;
    padding: 3px;
}

.search {
    border: none;
}

/* chat-profile */

.chat-profile {
    background-color: white;
    height: 78%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: .5rem;
}

.profiles {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact-message-hour {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-message-hour .last-message, .contact-message-hour .hour {
    color: #B1B1B1;
}



/* CONTAINER RIGHT */

.container-right {
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.main {
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    height: 86%;
    overflow-y: scroll;
}

.chat {
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    padding: .5rem;
}

.container-input-message {
    width: 100%;
    padding: 3px;
    margin: 10px;
}

.write-message {
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
