<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
    
        <!-- link font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
        <!-- link fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!-- link css -->
        <link rel="stylesheet" href="css/style.css">

        <!-- style -->
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    
        <!-- link js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
        <script src="js/script.js" defer></script>
    </head>
<body>
    <div class="top-bg"></div>
    <div class="main-bg"></div>
    <div id="root" class="container d-flex-center" v-cloak>
        <div class="container-boolzapp">
            <div class="container-left">

                <div class="user-profile">
                    <div class="d-flex-center u-p-icons">
                        <img src="img/avatar_8.jpg" alt="" class="img-round">
                        <h3>Sofia</h3>
                    </div>
                    <div class="d-flex-center u-p-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="notice">
                    <i class="fa-solid fa-bell-slash img-round d-flex-center"></i>
                    <div class="notice-text">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <p class="notice-active">Attiva notifiche desktop</p>
                    </div>
                </div>

                <div class="search-profile">
                    <div class="input-search">
                        <div class="magnifying d-flex-center"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <div class="container-input">
                            <input type="text" class="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                </div>

                <div class="chat-profile" >
                    <div class="profiles" v-for="(contact, i) in contacts" :key="contact.name" @click="profileActive(i)">
                        <div class="images-profiles">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="" class="img-round">
                        </div>
                        <div class="contact-message-hour">
                            <div>
                                <h3>{{ contact.name }}</h3>
                                <div class="last-message">ultimo messaggio</div>
                            </div>
                            <div class="hour">12:00</div>
                        </div>
                    </div>
                    
                </div>

            </div>
            
            <div class="container-right">
                <div class="user-profile">
                    <div class="d-flex-center u-p-icons">
                        <img :src="'img/avatar' + contacts[selectedUserMessages].avatar + '.jpg'" alt="" class="img-round">
                        <h3>{{ contacts[selectedUserMessages].name }}</h3>
                    </div>
                    <div class="d-flex-center u-p-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="main">
                    <div v-for="(message, i) in contacts">
                        <div class="chat-receipts">
                            <div class="container-message-receipts">
                                <div class="message-chat">{{ message.message}}</div>
                                <div class="message-hour">{{ contacts[selectedUserMessages.message]}}</div>    
                            </div>  
                        </div>
                        <div class="chat-sent">
                            <div class="container-message-sent">
                                <div class="message-chat">{{message[i]}}</div>
                                <div class="message-hour">{{date}}</div>    
                            </div>  
                        </div>    
                    </div>
                </div>

                <div class="chat">
                    <div><i class="fa-regular fa-face-smile"></i></div>
                    <div class="container-input-message">
                        <input type="text" placeholder="Scrivi un messaggio" class="write-message">
                    </div>
                    <div><i class="fa-solid fa-microphone"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>





<!-- <div class="container-right">
    <div class="user-profile">
        <div class="d-flex-center u-p-icons" v-for="profile in selectedUser" :key="profile.name">
            <img :src="'img/avatar' + profile.avatar + '.jpg'" alt="" class="img-round">
            <h3>{{ profile }}</h3>
        </div>
        <div class="d-flex-center u-p-icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>

    <div class="main">
        <div v-for="(message, i) in selectedUserMessages">
            <div class="chat-receipts">
                <div class="container-message-receipts">
                    <div class="message-chat">{{message.message}}</div>
                    <div class="message-hour">{{message.date}}</div>    
                </div>  
            </div>
            <div class="chat-sent">
                <div class="container-message-sent">
                    <div class="message-chat">{{message.message}}</div>
                    <div class="message-hour">{{message.date}}</div>    
                </div>  
            </div>    
        </div>
    </div> -->